<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= siteTitle+' | '+title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Favicon -->
  <link rel="shortcut icon" href="https://via.placeholder.com/16/007bff/007bff" type="image/x-icon">
</head>
<body>
  <% include include/header.ejs %>

  <!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides">
    <div style="display: flex;justify-content: center;">
      <div class="numbertext" ></div>
      <img src="Transferyourcloset.jpg" style="width:80%" style="height: 80%">
      <!--<div class="text">Caption One</div> -->
    </div>
  </div>

  <div class="mySlides">
    <div style="display: flex;justify-content: center;">
      <div class="numbertext" ></div>
      <img src="OMEGA-COLLECTION.jpg" style="width:80%" style="height: 80%">
      <!-- <div class="text">Caption One</div> -->
    </div>
  </div>

  <div class="mySlides">
    <div style="display: flex;justify-content: center;">
    <div class="numbertext"></div>
    <img src="dresscolorchnage.jpg"  style="width:80%" style="height: 40%">
    <!-- <div class="text">Caption Three</div> -->
  </div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4" >
        <h4>Shopping</h4>
        <a href="/shop">Click here to start shopping</a>
        <p></p>
        <img src="1.JPG" style="width:30%" style="height: 30%">
      </div>
      <div class="col-sm-4">
        <h4>The eShop Story</h4>
        <p>The eShop.biz headquartered at New York was founded by 
          Mr. Vallabh Patel in 2015 a budding entrepreneur from India. 
          With Serial initial investments at about US $10M, 
          Mr. Vallabh Patel and his team got a good start.
          They were making sales at about US$ 4M every quarter and there has 
          been a consistent rise of 13 percent in sales per quarter. 
          The eShop.biz an e-commerce and Brick and Mortar company was expanding 
          beyond New York to various other locations across US (East Coast, West Coast, Central).</p>
	 <a href="https://oracle.github.io/learning-library/developer-library/converged-db-on-premises/freetier/?lab=introduction-overview">To Know More About ConvergeDB</a>
      </div>
      <div class="col-sm-4">
        <h4>Contact Us</h4>        
        <p>315 Park Ave S, New York, NY 10010, United States</p>
        <p>Phone-No - +1 (555) 555-1234</p>
        <a href="https://www.oracle.com/in/corporate/contact/">Click here for more Details</a>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script src="reload/reload.js"></script>
</body>
</html>
