<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= siteTitle+' | '+title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Favicon -->
  <link rel="shortcut icon" href="https://via.placeholder.com/16/007bff/007bff" type="image/x-icon">
</head>
<body>
  <% include include/header.ejs %>
  <% var test = lat; %>
  <% var test2 = lng; %>
 
  <div style="display: flex;justify-content: center;align-content: center;padding:10px">

    <div id="osm-map"> yo </div>
</div>
    
  

<script>   
    var getTest = <%= test  %>;
    var getTest2 = <%= test2  %>;
    console.log(getTest,getTest2)
    var element = document.getElementById('osm-map');
    
    // Height has to be set. You can do this in CSS too.
    element.style = 'height:500px;width:400px';
    
    // Create Leaflet map on map element.
    var map = L.map(element);
    
    // Add OSM tile leayer to the Leaflet map.
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    
    // Target's GPS coordinates.
    var target = L.latLng(getTest2,getTest);
    
    // Set map's center to target with zoom 14.
    map.setView(target, 14);
    // map.setView(secondTarget, 14);
    // Place a marker on the same location.
    L.marker(target).addTo(map);
    
    
    
    </script>
</body>
</html>