<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= siteTitle+' | '+title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Favicon -->
  <link rel="shortcut icon" href="https://via.placeholder.com/16/007bff/007bff" type="image/x-icon">
</head>
<body>
  <% include include/header.ejs %>
  <% var bill=0 %>

    
  <div class="container">
    <form method="POST" action="/update-cart">
      <div style="text-align: center;padding:1em">
        <h1>Order Details</h1>
      </div>
      <div style="margin-top:2em;"class="table-responsive">
        <h3>Status : <%= status %></h3>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody>
          <% products.forEach(function(product, index) { %>
            <tr>
              <td><a class="text-body" href="/product/<%= product.pid %>"><img style="max-width: 100px; max-height: 50px;" src="<%= product.picture %>" /></a></td>
              <td><a class="text-body" href="/product/<%= product.pid %>"><%= product.title %></a><br><span class="badge badge-warning"><%= product.name %></span></td>
              <td>$<%= product.price %></td>
              <td><%= product.quantity %></td>
              <td>$<%= product.price*product.quantity %></td>
            </tr>
          <% }); %>
          </tbody>
        </table>
      </div>
      <p style="display: none;"><% products.forEach(function(product, index) { %>
        <%= bill+=product.price*product.quantity %>
      <% }); %></p>
      <div>
        <h4 style="float: right;">Total Bill : $<%= bill %> </h4>
      </div>
      <div class="clearfix"></div>
      
      <div class="clearfix">  </div>
    </form>
    <h3>Customer Details :</h3>
    <ul>
        <li>Name : <%= userData.name %></li>
        <li>Email : <%= userData.email %></li>
        <li>Address : <%= userData.address %></li>
        <li>City : <%= userData.city %></li>
        <li>Contact Number : <%= userData.phone %></li>
        <li>Pincode : <%= userData.pincode %></li>
    </ul>
    <div>
        <a href="/shop"style="float: right;">Continue Shopping.. </a>
      </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script src="reload/reload.js"></script>
</body>
</html>
