<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/"><i class="fa fa-truck" aria-hidden="true"></i>The eShop</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">Cart</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" href="/chart">Analytics</a>
      </li>
      !-->
      <li class="nav-item">
        <a class="nav-link" href="/map">Store Locator</a>
      </li>
      <li class="nav-item">
        <% if(process.env.INFRA_TYPE === "ORACLE"){ %>
          <a class="nav-link" style="color: darkred; font-weight: bold">RUNNING ON <%= process.env.INFRA_TYPE %> INFRASTRUCTURE</a>
        <% } else{ %>
          <a class="nav-link" style="color: orange; font-weight: bold">RUNNING ON <%= process.env.INFRA_TYPE %> INFRASTRUCTURE</a>
        <% } %>
      </li>
	<li class="nav-item">
        <a class="nav-link" href="/aboutus"></a>
        </li>
    </ul>
  </div>
</nav>
